In [ ]:
import re
import pandas as pd
import csv
import numpy as np
from collections import Counter
import nltk
import random
from nltk import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.ensemble import IsolationForest
from nltk.tokenize import sent_tokenize, word_tokenize
import warnings

warnings.filterwarnings(action = 'ignore')
import gensim
from gensim.models import Word2Vec

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/thesis/train/token.csv', sep=',')
df2 = pd.read_csv('/content/drive/MyDrive/thesis/val/val-token.csv', sep=',')

In [ ]:
df2.head(5)

                                                   0
0      info nova metadata wsgi server get status 200
1      info nova metadata wsgi server get status 200
2      info nova metadata wsgi server get status 200
3      info nova metadata wsgi server get status 200
4  info nova osapi_compute wsgi server get status...

In [ ]:
column_name = ['content']

In [ ]:
df2.columns = column_name

In [ ]:
#df = df.iloc[:, 1:]

In [ ]:
column_name = ['content']

In [ ]:
df1.columns = column_name

In [ ]:
df1.head(5)

                                             content
0      info nova metadata wsgi server get status 200
1      info nova metadata wsgi server get status 200
2      info nova metadata wsgi server get status 200
3      info nova metadata wsgi server get status 200
4  info nova osapi_compute wsgi server get status...

In [ ]:
tf_out = df2['content'].tolist()

In [ ]:
new = df1['content'].tolist()

In [ ]:
vectorizer = TfidfVectorizer()

In [ ]:
X = vectorizer.fit_transform(new)

In [ ]:
tfout = vectorizer.transform(tf_out)
feature_names = vectorizer.get_feature_names_out()

In [ ]:
x_df = pd.DataFrame(X.toarray(), columns=feature_names)

In [ ]:
x_df.head(5)

,100,109,110,111,114,115,124,137,143,146,...,vthm,warn,warning,warnings,white,with_traceback,wrapped,wrapper,wsgi,ybk
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.342696,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.342696,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.342696,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.342696,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.277381,0.0

In [ ]:
x_out = pd.DataFrame(tfout.toarray(), columns=feature_names)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

mm_scaler = MinMaxScaler()
X_scaled = mm_scaler.fit_transform(x_df)

In [ ]:
x_out_tf = mm_scaler.transform(x_out)

In [ ]:
x_outs = pd.DataFrame(x_out_tf)

In [ ]:
x = pd.DataFrame(X_scaled)

In [ ]:
x.to_csv('/content/drive/MyDrive/thesis/train/tf-idf_scaled.csv', index=False)

In [ ]:
x_outs.to_csv('/content/drive/MyDrive/thesis/val/val-tf-idf_scaled.csv',index=False)