In [ ]:
import re
import pandas as pd
import csv
import numpy as np
from collections import Counter
import nltk
import random
from nltk import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.ensemble import IsolationForest
from nltk.tokenize import sent_tokenize, word_tokenize
import warnings

warnings.filterwarnings(action = 'ignore')
import gensim
from gensim.models import Word2Vec

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/thesis/val/val_word.csv', sep=',')

In [ ]:
df.head(5)

,Content,Status_Code,clean_content
0,info nova metadata wsgi server get status,200,info nova metadata wsgi server get status 2...
1,info nova metadata wsgi server get status,200,info nova metadata wsgi server get status 2...
2,info nova metadata wsgi server get status,200,info nova metadata wsgi server get status 2...
3,info nova metadata wsgi server get status,200,info nova metadata wsgi server get status 2...
4,info nova osapi_compute wsgi server get status,200,info nova osapi_compute wsgi server get statu...

In [ ]:
df.shape

(102000, 3)

In [ ]:
custom_list = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such',
               'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't','z', 'can', 'will', 'just','should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y','fes','dbl','cbk']

In [ ]:
new = df['clean_content'].apply(lambda x: [item for item in x.split() if item not in custom_list])

In [ ]:
type(new)

pandas.core.series.Series

In [ ]:
new.head(5)

0    [info, nova, metadata, wsgi, server, get, stat...
1    [info, nova, metadata, wsgi, server, get, stat...
2    [info, nova, metadata, wsgi, server, get, stat...
3    [info, nova, metadata, wsgi, server, get, stat...
4    [info, nova, osapi_compute, wsgi, server, get,...
Name: clean_content, dtype: object

In [ ]:
token_strings = [" ".join(token) for token in new]

In [ ]:
type(token_strings)

list

In [ ]:
strings_data = pd.DataFrame(token_strings)

In [ ]:
strings_data.head(5)

                                                   0
0      info nova metadata wsgi server get status 200
1      info nova metadata wsgi server get status 200
2      info nova metadata wsgi server get status 200
3      info nova metadata wsgi server get status 200
4  info nova osapi_compute wsgi server get status...

In [ ]:
strings_data.shape

(102000, 1)

In [ ]:
#strings_data.to_csv('/content/drive/MyDrive/report-tokenstring-novapi.csv')
#strings_data.to_csv('/content/drive/MyDrive/thesis/Preprocess/preprodata/report-tokenstring-novapi.csv')
# use strings_data.to_csv('/content/drive/MyDrive/thesis/models/evaluation/report-wordtoken-outlier-novapi.csv')
#strings_data.to_csv('/content/drive/MyDrive/thesis/train/token.csv', index=False)
strings_data.to_csv('/content/drive/MyDrive/thesis/val/val-token.csv', index=False)